.search {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #000000;
    cursor: pointer;
    transition: width 0.5s ease-in-out;
    margin: 10px 10px;
}

.icon {
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 12px;
    top:50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.active {
    width: 200px;
}

.input input {
    position: absolute;
    top: 0;
    left: 20%;
    width: 70%;
    height: 100%;
    border-radius: 40px;
    background-color: #000000;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-bottom: 2px;
}