.search {
  position: relative;
  height: 90%;
  border-radius: 20px;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: width 0.5s ease-in-out;
}

.active {
  width: 45%;
}

.input input {
  position: absolute;
  top: 0;
  left: 15%;
  width: 85%;
  height: 100%;
  border-radius: 40px;
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  font-size: 14.3px;
  color: var(--avatar-color);
  padding-bottom: 2px;
}

@media only screen and (max-width: 700px) {
  .input input {
    left: 18%;
  }
}

@media only screen and (max-width: 570px) {
  .input input {
    left: 25%;
  }
}

@media only screen and (max-width: 400px) {
  .input input {
    left: 35%;
  }
}
