.card-list-container {
    width: 60%;
    height: 85%;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

