.page {
  position: relative;
  width: 100%;
  margin: 10px 10px 10px 0px;
  border-radius: 15px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
  /* margin-right: -5px; */
}

.arrow {
  color: black;
  font-size: 1.5rem;
}
