.nav-bar {
  height: 100%;
  width: 100px;
  position: relative;
}

.logo-bar {
  border-radius: 10px;
  font-size: 1.5rem;
  position: absolute;
  line-height: 0px;
  padding: 10px;
  background-color: antiquewhite;
  color: rgb(15, 15, 15);
  left: 50%;
  top: 8%;
  transform: translate(-50%,-8%);
}

.nav-menu {
  border-radius: 20px;
  position: relative;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.active {

  transition: all 0.5s ease;
  /* transition: 350ms; */
}

.nav-menu-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
}