.nav-item {
    position: relative;
    list-style: none;
    width: 100%;
    padding: 10px 0 10px 0;
}

.nav-item.active {
    background-color: var(--primary-color);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.nav-item a {
    position: relative;
    /* display: block; */
    width: 100%;
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.nav-icon {
    position: relative;
    display: block;
    min-width: 50px;
    height: 30px;
    line-height: 60px;
    top: 15px;
    /* font-size: 1em; */
    padding-left: 10px;
}

.nav-title {
    position: relative;
    display: block;
    padding-left: 10px;
    font-size: 1.2em;
    line-height: 60px;
    white-space: nowrap;
}