.input-group {
    position: relative;
    margin: 0;
}
.form-input {
    background: none;
    background-color: var(--secondary-color);
    color: var(--font1-color) ;
    font-size: 18px;
    padding: 10px 10px 2px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1.5px solid var(--border-color);
    margin: 25px 0;
}
.form-input:focus {
    outline: none;
}
.form-input:focus ~ .form-input-label {
    top: -50%;
    font-size: 16px;
    color: var(--border-color);
}

.form-input-label {
    white-space: nowrap;
    color: var(--title-color);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 10px;
    transition: 200ms ease all;
}
.form-input-label.shrink {
    top: -8px;
    font-size: 12px;
    font-weight: 600;
    color: var(--border-color);
}

.form-input label {
    color:black;
}

.form-input:focus ~ svg{
    top: 15%;
    font-size: 1.8em;
}
.input-group svg {
    position: absolute;
    right: 0;
    color: var(--border-color);
    font-size: 1.4em;
    top: 25%;
    transition: 200ms ease all;
}