body {
  padding: 5vh;
  margin: 0;
}

.App {
  display: flex;
  text-align: center;
  height: 90vh;
  border-radius: 20px;
  background-color: #141313;
  color: white;
  /* scroll-behavior: smooth; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}