@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway&family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
:root {
  --secondary-color: #ffffff;
  --primary-color: #efeeee;
  --background-color: #14b0b9;
  --border-color: #00ADB5;
  --title-color: #00ADB5;
  --avatar-color: #474b52;
  --font1-color: #393E46;
  --font2-color: #222831;
  --padding-item: 2vh;
  --font-roboto: 'Roboto', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  height: 100vh;
  /* background-color: var(--background-color); */
  color: var(--primary-color);
}

*::-webkit-scrollbar {
  max-width: 10px;
  max-height: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #569DAA;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

*::-webkit-file-upload-button {
  visibility: hidden;
}